aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
Flask==2.1.0
flask-cors==6.0.1
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==2.5.1
frozenlist==1.7.0
greenlet==3.2.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.6.4
mysql-connector-python==9.4.0
propcache==0.3.2
psycopg2-binary==2.9.11
PyJWT==2.10.1
PyMySQL==1.1.2
requests==2.32.5
SQLAlchemy==1.4.49
twilio==9.8.0
urllib3==2.5.0
Werkzeug==2.0.2
yarl==1.20.1
